<h1>Movies</h1>

<%= link_to "New Movie", new_movie_path %>

<ul>
  <% @movies.each do |movie| %>
    <li>
    <%= link_to movie.title, movie %>
    <%= link_to "Edit", edit_movie_path(movie) %>
    <%= button_to "Delete", movie, method: :delete %>
    </li>
  <% end %>
</ul>